/*Imports*/

@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Rubik:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');



/*Reset web*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Birthstone", sans-serif;
    margin: 1rem;
    background-image: url(./img/fondo.jpg);
}



/*Header*/

.header {
    background-color: rgba(59, 32, 0, 0.863);
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    color: white;
}

.header h1 {
    font-size: 3rem;
    position: relative;
    left: 10rem;
}

.header img {
    margin: 0 0 0 1rem;
    width: 4rem;
    border-radius: 1rem;
}


/*navbar*/

nav ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    padding-right: 2rem;
    font-size: 2rem;
    display: flex;
}



nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/*Main*/

main {
    width: 100%;
    height: auto;
    background-color: rgba(127, 255, 212, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;



}

.img-dog {
    margin: 10px;
    width: 310px;
    height: 310px;
    background-image: url(./img/img3.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
    background-color: rgba(39, 21, 0, 0);


}


.img-dog h1,
h2 {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 1rem;
    font-size: 2.9rem;
    color: rgb(255, 255, 255);
}

.text-dog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
    height: auto;
    margin: 1rem;
    padding: 1rem 2rem;
    background-color: rgba(65, 34, 0, 0.849);
    border-radius: 15px;
}

.text-dog h1 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}


.text-dog p {
    font-size: 1.8rem;
    color: rgb(221, 221, 221);
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
}

/* Main Section*/

section {
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    margin: 1rem 0 1rem 0;


}

.first-img {
    border: 1px solid black;
    width: 100%;
    height: auto;
    background-color: rgba(109, 58, 0, 0.7);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 1rem;
    padding: 1rem;

}


.first-img .luna-one img {
    width: 300px;
    height: auto;
    border-radius: 25px;

}

.first-img .luna-two img {
    width: 350px;
    height: auto;
    border-radius: 25px;

}



.second-img {
    border: 1px solid black;
    width: 100%;
    height: auto;
    background-color: rgba(109, 58, 0, 0.7);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 1rem;


}





/*Footer*/

footer {
    border: 1px solid black;
    width: 100%;
    height: 5rem;
    color: white;
    background-color: rgba(82, 44, 0, 0.945);
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    padding: 1rem;
}