/*Imports*/

@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Rubik:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');


/*Reset web*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Birthstone", sans-serif;
    margin: 1rem;
    background-image: url(./img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/*Header*/

.header {
    background-color: rgba(59, 32, 0, 0.863);
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    color: white;

}

.header h1 {
    font-size: 3rem;
    position: relative;
    left: 10rem;
    padding: 0 5rem;
}

.header img {
    margin: 0 0 0 1rem;
    width: 4rem;
    border-radius: 1rem;
}

img {
    /* Estilos iniciales de la imagen */
    transition: transform 0.3s ease;
}

img:hover {
    /* Estilos del hover */
    transform: scale(1.2);
}


/*navbar*/


/* screen < 1080 */


nav ul {
    list-style: none;
    gap: 2.5rem;
    padding-right: 2rem;
    font-size: 2rem;
    display: flex;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}


@media screen and (min-width: 1200px) {
    header .nav-mobile {
        display: none;
    }

}


.nav ul li a {
    border-radius: 5px;
    /* Ajusta el valor según tu preferencia */
    /* Otros estilos de los enlaces */
}

.nav ul li a:hover {
    /* Estilos del hover */
    background-color: #f0f0f0;
    color: #333;
}

/*Main*/

main {
    width: 100%;
    height: auto;
    background-color: rgba(127, 255, 212, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;



}

.img-dog {
    /* Estilos iniciales de la imagen */
    margin: 10px;
    width: 310px;
    height: 310px;
    background-image: url(./img/img3.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
    background-color: rgba(39, 21, 0, 0);
    transition: box-shadow 0.5s ease;
    border: 4px solid pink;
}

.img-dog:hover {
    /* Estilos del hover */
    box-shadow: 0 0 10px rgba(39, 21, 0, 0.5);
}

.img-dog h1,
h2 {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 1rem;
    font-size: 2.9rem;
    color: rgb(255, 255, 255);
}

.text-dog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0);
    width: 100%;
    height: auto;
    margin: 1rem;
    padding: 1rem 2rem;
    background-color: rgba(65, 34, 0, 0.849);
    border-radius: 15px;
}

.text-dog h1 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}


.text-dog p {
    font-size: 1.8rem;
    color: rgb(221, 221, 221);
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
}

/* Main Section*/

section {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 1rem 0 1rem 0;
    align-items: center;
    color: white;
    justify-content: center;
    font-size: 2rem;


}

.first-img {
    border: 1px solid rgba(255, 255, 255, 0);
    width: 100%;
    height: auto;
    background-color: rgba(109, 58, 0, 0.7);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 2rem;
    padding: 1rem;

}

.luna-one {
    display: flex;
    flex-direction: column;
    bottom: 4rem;
    gap: 1rem;

}

.luna-two {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    top: 4rem;
    gap: 1rem;
}


.first-img .luna-one img {
    width: 240px;
    height: auto;
    border-radius: 25px;
    position: relative;

}

.first-img .luna-two img {
    width: 240px;
    height: auto;
    border-radius: 25px;

}


.second-img {
    border: 1px solid rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    background-color: rgba(109, 58, 0, 0.7);
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 15px;
    flex-wrap: wrap;
}


.second-img .text-luna img {
    width: auto;
    height: auto;
    border-radius: 25px;
}


.text-luna {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nombre-rosita {
    color: pink;
}

.second-img img {
    max-width: 25%;
    width: auto;
    height: auto;
    border-radius: 25px;
}


.box1 {
    border: 1px solid rgba(255, 255, 255, 0);
    width: 100%;
    height: auto;
    background-color: rgba(245, 222, 179, 0);
}

.box2 {
    border: 1px solid rgba(255, 255, 255, 0);
    width: 100%;
    height: auto;
    background-color: rgba(245, 222, 179, 0);
}


/*Footer*/

footer {
    border: 1px solid white;
    width: 100%;
    height: auto;
    color: white;
    background-color: rgba(82, 44, 0, 0.945);
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    padding: 1rem;
}


@media screen and (max-width: 1200px) {
    .nav {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 15px
    }

    .header h1 {
        display: none;
    }

    .section {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: stretch;

    }

    footer {
        font-size: 1rem;
    }

    .first-img {
        flex-direction: column;
    }

    .nav-mobile ul li {
        display: flex;
        align-items: center;
    }

    .nav-mobile ul li svg {
        width: 50px;
        /* Establece el ancho del icono SVG */
        height: 50px;
        /* Establece la altura del icono SVG */
    }

    .nav-mobile ul li ion-icon,
    .nav-mobile ul li svg {
        /* Establece un fondo con un gradiente */
        background-image: linear-gradient(to right, #ff7e5f, #feb47b);
        /* Ajusta otros estilos según sea necesario */
        color: rgb(0, 0, 0);
        /* Cambia el color del icono a blanco */
        border-radius: 50%;
        /* Agrega un borde circular a los íconos */
        padding: 10px;
        /* Añade espacio alrededor de los íconos */
    }

    .nav-mobile ul li a:hover ion-icon,
    .nav-mobile ul li a:hover svg {
        /* Agrega estilos para el hover aquí */
        color: #f0f0f0;
        /* Otros estilos de los iconos en hover */
    }


}