* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: seashell;
    font-family: Helvetica;
    opacity: 0.9;
    font-size: 22px;
    text-align: center;
}

.logo {
    max-height: 50px;
    margin-left: 10px;
}

.container-navbar {
    width: 100%;
    border-bottom: 1px solid seashell;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    /* Asegura que el navbar esté encima de otros elementos */
    background-color: rgb(0, 0, 0);
    /* Cambio de color para mostrar el fijado */
}

ul {
    list-style: none;
    display: flex;
    margin-right: 4rem;
    gap: 30px;

}

li {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

a {
    color: gray;

}

.containers-content {
    margin: 0 50px 0 50px;
    padding-top: 69px;
    /* Añade espacio para el navbar fijado */
}

.container-first {
    width: 100%;
    height: 1100px;
    background-image: url(./img/img-mission-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.text-img {
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    background-color: rgb(0, 0, 0);
}



.container-second {
    width: 60%;
    /* Cambiar el porcentaje al tamaño deseado */
    border: 1px rgba(250, 128, 114, 0) solid;
    height: auto;
    margin: 10px auto;
    /* Esto centrará el contenedor horizontalmente */
}

.img-second-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

p {
    margin-top: 10px;
}

.img-mini {
    width: 300px;
    height: 200px;
}

span h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

span h4 {
    margin-bottom: 10px;
}

footer {
    width: 100%;
    border: 1px rgb(0, 0, 0) solid;
    height: 69px;
    margin: auto auto 10px auto;
    color: white;
}

.container-third {
    width: 100%;
    height: 600px;
    background-image: url(./img/img-locations-background.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-third h2 {
    margin-bottom: 20px;
}

.container-third .img-end {
    border: 2px solid rgb(2, 2, 2);
    width: 300px;
    height: 150px;
    background-color: black;
    margin: 10px;
    display: inline-block;
    opacity: 0.7;
    padding: 5px;
}


footer {
    height: 200px;
    width: 100%;
}

footer h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

footer h5 {
    margin-bottom: 20px;
}

footer p {
    text-align: start;
    margin-left: 10px;
}