.grid {
    display: grid;
    border: 2px blue solid;
    height: 500px;
    width: 500px;
    grid-template: repeat(4, 1fr 4fr) / repeat(4, 1fr 1fr);
    gap: 5px;
}

.a {
    /*grid-row: 5 / 7;
    grid-column-start: 1;
    grid-column-end: 3;*/
}

.b {
    /*grid-row: 2 / span 3;*/

}

.box {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
}